<footer>
  <div class="coc-container">
    <div class="coc-section">
      <div class="coc-socials">
        <h5>Suivez-nous sur</h5>
        <div class="coc-links">
          <a href="https://discord.gg/cocfrance" target="_blank">
            <ng-icon name="bootstrapDiscord" size="20"></ng-icon>
          </a>
          <a href="https://x.com/COCFrance" target="_blank">
            <ng-icon name="bootstrapTwitterX" size="20"></ng-icon>
          </a>
        </div>
      </div>
      <div class="coc-download">
        <a
          href="https://apps.apple.com/fr/app/clash-of-clans/id529479190"
          target="_blank"
        >
          <img
            src="images/download_apple_store.webp"
            alt="Télécharger sur l'App Store"
          />
        </a>
        <a
          href="https://play.google.com/store/apps/details?id=com.supercell.clashofclans"
          target="_blank"
        >
          <img
            src="images/download_google_play.webp"
            alt="Télécharger sur Google Play"
          />
        </a>
      </div>
    </div>
    <div class="coc-links mb-3">
      <a href="https://supercell.com/en/privacy-policy/fr/" target="_blank">
        Politique de confidentialité
      </a>
      <a href="https://supercell.com/en/terms-of-service/fr/" target="_blank">
        Conditions d'utilisation
      </a>
      <a href="https://supercell.com/en/parents/fr/" target="_blank">
        Guide des parents
      </a>
      <a href="https://supercell.com/en/safe-and-fair-play/fr/" target="_blank">
        Sécurité et fair-play
      </a>
    </div>
    <div class="coc-policy">
      Ce contenu n'est pas affilié à, sponsorisé, ni spécifiquement approuvé par
      Supercell, et Supercell dégage toute responsabilité à son sujet. Pour plus
      d'informations, voyez le règlement sur les contenus de fans :
      <a href="https://www.supercell.com/fan-content-policy/fr" target="_blank">
        https://www.supercell.com/fan-content-policy/fr
      </a>
    </div>
  </div>
</footer>
